.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image {
    height: 450px;
    width: 450px;
    margin: 5px;
}

#discover{
    text-align: center;
    color: #8fb94f;
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#userWelcome {
    font-size: 35px;
    color: #8fb94f;
    font-style: italic;
    text-decoration: underline;
}

.class {
    display: flex;
    justify-content: center;
}

#caption {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.userHome {
    /* background-color: #29e7cd; */
    background-color:#f3f5f6
}

#discover {
    /* border: 5px solid #8fb94f; */
    color: white;
    text-transform: uppercase;
    background: #8fb94f;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-right: 60%;
    margin-left: 40%;
}

#discover:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#image:hover {
    opacity: .7
}
