#image {
    height: 700px;
    width: 800px;
    display: flex;
    flex-wrap: nowrap;
}

.class {
    display: flex;
    justify-content: center;
}

#caption {
    font-size: 30px;
    font-family: cursive;
}
