.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image {
    height: 450px;
    width: 450px;
    margin: 5px;
}

#discover{
    text-align: center;
}

.class {
    display: flex;
    justify-content: center;
}

#caption {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
