.updateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    z-index: 1;
    /* background-image: url(https://i.pinimg.com/originals/c4/07/1f/c4071f86d00c3ad0905df0bf2c64fb4a.jpg); */
    height: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: 100%;
    object-fit: fill
}

#updateImgBtn {
    background-color: #3d1814;
    border-radius: 5px;
    padding: 10px;
    color: #8fb94f
}
