#singlePicture {
    height: 500px;
    width: 600px;
    /* display: flex;
    align-self: center; */
}

#singlePicture:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.photodetails {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: nowrap; */
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.photodetails:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;

}

#edit, #delete {
    /* margin: 10px; */
    border-radius: 4px;
    margin: 5px;
    padding: 4px 6px;
}

#edit {
    background-color: #0063dc;
    color: white;
}

#delete {
    background-color: #e2292b;
    color: white
}

#edit:hover, #delete:hover {
    opacity: .5
}
