.body {
    /* height: 693px; */
    /* height: 700px;
    width: auto; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiration {
    color: #8fb94f;
    color: white;
    font-size: 56px;
    /* font-family: 'Open Sans', sans-serif; */
}


.inspiration, .community, .startbutton {
    margin: 17px;
}

.body > .community {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.community {
    color: #8fb94f;
    color: white;
    /* font-family: 'Open Sans', sans-serif; */
}

.inspiration, .community, .startbutton {
    margin: 17px;
}

.startbutton {
    padding: 20px 40px;
    background-color: white;
    font-size: 27px;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight:bolder;
}

.startbutton {
    padding: 20px 40px;
    background-color: white;
    font-size: 27px;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight:bolder;
    background-color: #8fb94f;
    color: black;
    border: solid black 2px;
}

.backgroundimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: -3;
    position:fixed;
    top: 0px;
    left: 0px;
}

@media screen  {
    .backgroundimg {
        background-size: 100% ;
        background-image: url();
        animation: image-transition-smaller 30s infinite ;
    }
}

@keyframes image-transition-smaller {
    0% {
        background-image: url("./images/1247045.jpeg");
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;

    } 20% {
        background-image: url("./images/Fox.jpeg");
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;

    } 40% {
        background-image: url("./images/Tiger\ in\ Snow.jpeg");
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;

    } 60% {
        background-image: url("./images/bigs-dog-on-the-beach-at-sunset-12236933-Large.jpeg");
         /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;

    } 80% {
        background-image: url("./images/D-rZEX--1380x1035.jpeg");
         /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;

    } 100% {
        background-image: url("./images/two-animals-with-long-necks.jpeg");
         background-position: center;
        background-size: cover;
        background-repeat: no-repeat;


    }
}
