#error {
    color: red
}

body, html {
    height: 100%;

  }

.uploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    z-index: 1;
    /* background-image: url(https://i.pinimg.com/originals/c4/07/1f/c4071f86d00c3ad0905df0bf2c64fb4a.jpg); */
    height: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: 100%;
    object-fit: fill;
}

#uploadText {
    color:#3d1814;
}

#uploadImgBtn {
    background-color: #3d1814;
    border-radius: 5px;
    padding: 10px;
    color: #8fb94f
}

#image2 {
    /* z-index: -4; */
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px
  }

form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
/* .backgroundImage {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: -3;
} */
