.upperfooter > ul {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

.lowerfooter > ul {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

footer {
    display: block;
    justify-content: space-between;
    background-color: black;
    color: white;
    bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    /* height:16%; */
    /* height: 6%; */
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
}

.facebook, .twitter, .instagram {
    width: 20px;
    height: 20px;
    padding: 0 5px;
    margin: 0 5px;
}

.lowerfooter__left {
    display: flex;
}

.lowerfooter__left .left {
    padding: 0 10px;
}

.lowerfooter__center {
    display: flex;

}

.lowerfooter__right {
    display: flex;
}

.lowerfooter__right {
    padding: 0 20px;
}

.upperfooter {
    border-bottom: 1px solid rgba(148, 146, 146, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* bottom: -10px; */
    /* position: fixed; */
    left: 0px;
    right: 0px;

}
