/* TODO Add site wide styles */
html {
    background-color:white
}

body {
    overflow: hidden; /* Hide scrollbars */
}

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
