.signup {
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
    opacity: 100%;
}

html {
    overflow-x:hidden;
    height: 100%;
}

body {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8fb94f;
    border-radius: 5px;
    padding: 10px;
    color: #3d1814;
    height: 100%;
}
