.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5 );
    max-height: 70px;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0;
}

.rightSide {
    display: flex;
    align-items: center;
}

#flickrlogo {
    display: flex;
    height: 50px;
    width: fit-content;
    align-items: center;
    margin: 7px;
    float: left;
}

#flickrlogo:hover {
    opacity: .7
}

#upload:hover {
    opacity: .7
}

#signup:hover {
    opacity: .7
}


header > button {
    border-radius: 5px;
    /* padding: 5px 20px; */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    height: 20px;
}

#signup {
    align-items: center;
    margin: 0 7px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
    cursor:pointer;
    background-color: #8fb94f;
    border-radius: 5px;
    padding: 10px;
    color: #3d1814;
}

#profilePic:hover {
    color: #8fb94f;
}

.critterLogo {
    display:flex;
    /* position:absolute; */
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: fit-content;

}

@font-face {
    font-family:critterFont;
    src:url('Cat Paw.otf')

}

#crittrName {
    font-family:critterFont, sans-serif;
    color: white;
    font-size: 30px;
}

#upload, #logoutBtn {
    background-color: #8fb94f;
    border-radius: 5px;
    padding: 10px;
    color: #3d1814;
}

button:hover {
    cursor:pointer;
}

.profile-dropdown {
    height: 30px;
}

.dropdown-content {
    color: #8fb94f;
}
