.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rightSide {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

#flickrlogo {
    display: flex;
    height: 30px;
    width: 40px;
    align-items: center;
}

#signup {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin: 0 7px;
}

.critterLogo {
    display:flex;
}

#crittrName {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
